<div class="p-3">
  <h1>Compañias</h1>

  <button
    type="button "
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#companyModal"
    (click)="company.set(undefined)"
  >
    Agregar +
  </button>

  <section id="filters" class="row mt-3 p-3 bg-info">
    <div class="col">
      <div class="form-floating">
        <input
          id="inputName"
          type="text"
          class="form-control"
          placeholder="Nombre de la Sociedad"
          value=""
          #inputName
          (keyup)="(inputName)"
        />
        <label for="inputName"> Nombre de la Sociedad </label>
      </div>
    </div>
  </section>

  <section id="companys-info" class="my-3">
    <div class="row p-0 m-0">
      @for (
        company of companies() | filterKeyValue: 'name' : inputName.value;
        let i_company = $index;
        track i_company
      ) {
        <div class="card m-2 px-0" style="width: 18rem">
          <div class="card-header bg-primary d-block text-center">
            <strong> {{ company.name }} </strong>
          </div>
          <div class="card-body">
            <h5 class="card-title">
              {{ company.address }}
            </h5>
            <p class="card-text">
              <button
                type="button"
                class="btn btn-outline-primary btn-sm me-4 d-inline-flex align-items-center"
                data-bs-toggle="modal"
                data-bs-target="#companyModal"
                (click)="editCompany(company)"
              >
                <svg lucidePencil class="h-4 w-4"></svg>
              </button>
              <button
                type="button"
                class="btn btn-outline-danger btn-sm d-inline-flex align-items-center"
                (click)="removeCompany(company, i_company)"
              >
                <svg lucideTrash2 class="h-4 w-4"></svg>
              </button>
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-1">
              <small> {{ company.cif }} </small>
            </li>
            <li class="list-group-item py-1">
              <small> {{ company.account }} </small>
            </li>
          </ul>
        </div>
      }
    </div>
  </section>
</div>

<app-company-modal [company]="company()" (saveForm)="updateCompany($event)"></app-company-modal>
