// @import "./src/assets/scss/colors";

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 4rem; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: blue; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  border-left: 1rem solid blue;
}

/* The sidebar links */
.sidebar li {
  display: block;
  transition: 0.3s;
  border-radius: 1rem 0 0 1rem;
}

/* When you mouse over the navigation links, change their color */
.sidebar li:hover {
  // color: blue;
  background-color: white;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.menu_extend {
  width: 10rem;
}

.menu_colapse {
  margin-left: 10rem;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and li smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
