/* The sidebar links */
.sidebar li {
  display: block;
  position: relative;
  border-radius: 1rem 0 0 1rem;
  a {
    width: 100%;
  }
  .nav-link {
    color: white;
  }
}

.hovered a::before,
li:hover a::before {
  content: '';
  position: absolute;
  right: 0;
  top: -1rem;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-radius: 1rem;
  box-shadow: 8px 8px 0px 4px white;
}

.hovered a::after,
li:hover a::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -1rem;
  width: 1rem;
  height: 1rem;
  background-color: transparent;
  border-radius: 1rem;
  box-shadow: 8px -8px 0px 4px white;
}

/* When you mouse over the navigation links, change their color */
.sidebar .hovered,
.sidebar li:hover {
  background-color: white;
  a {
    color: #1d4ed8; /* blue-700, matches bg-blue-700 utility */
  }
}
