<!-- Modal -->
<div
  class="modal fade"
  id="recordModal"
  tabindex="-1"
  aria-labelledby="recordModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-bg-primary">
        <h1 class="modal-title fs-5" id="recordModalLabel">
          Registro: {{ record?.companyName }} - {{ record?.employeeUsername }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="p-3 mb-3 bg-secondary-subtle rounded">
          <p class="mb-0">
            <strong>Inicio:</strong>
            {{ record?.startTimestamp | date : "medium" }}
            <br />
            <strong>Fin:</strong> {{ record?.endTimestamp | date : "medium" }}
            @if (record?.endTimestamp){
            <br />
            <strong>Duracion:</strong>
            {{
              utilsService.getDiffTime(
                record!.startTimestamp,
                record!.endTimestamp!
              )
            }}
            }
            <br /><strong>Incidencia Tabajador: </strong>
            {{ record?.incident ?? "Sin Incidencia" }}
          </p>
        </div>

        <form [formGroup]="recordForm">
          <div class="form-floating">
            <textarea
              class="form-control"
              placeholder="Agregar una incidencia"
              formControlName="incidentAdmin"
              id="floatingTextarea"
              [ngClass]="{
                'is-invalid': utilsService.isValidControl(
                  recordForm,
                  'incidentAdmin'
                )
              }"
            ></textarea>
            <label for="floatingTextarea">Incidencia Administrador</label>
          </div>
          @if(utilsService.isValidControl(recordForm, 'incidentAdmin')){
          <small class="text-danger">
            El incidente debe ser mayor de 3 caracteres
          </small>
          }
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          #btnClose
        >
          Cerrar
        </button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
