<!-- Modal -->
<div
  class="modal fade"
  id="recordEmployeeModal"
  tabindex="-1"
  aria-labelledby="recordEmployeeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary text-bg-primary">
        <h1 class="modal-title fs-5" id="recordEmployeeModalLabel">
          Registro: {{ record?.companyName }} - {{ record?.employeeUsername }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="p-3 mb-3 bg-secondary-subtle rounded">
          <p class="mb-0">
            <strong>Inicio:</strong>
            {{ record?.startTimestamp | date : "medium" }}
            <br />
            <strong>Fin:</strong> {{ record?.endTimestamp | date : "medium" }}
            <br /><strong>Incidencia Tabajador: </strong>
            {{ record?.incident }}
          </p>
        </div>
        <!-- <div class="geoStart">
          <i
            role="button"
            class="text-primary bi bi-info-circle-fill me-2"
            [title]="
              'Presición: ' +
              record.geoStart.accuracy +
              ' metros' +
              '\n ' +
              'Latitud: ' +
              record.geoStart.latitude +
              '\n ' +
              'Longitud: ' +
              record.geoStart.longitude
            "
          ></i>
          <a
            [href]="utilsService.getGoogleMapUrl(record.geoStart)"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary btn-sm"
          >
            Ver <i class="bi bi-geo-alt-fill"></i>
          </a>
        </div>
        <div class="geoEnd">
          <i
            role="button"
            class="text-primary bi bi-info-circle-fill me-2"
            [title]="
              'Presición: ' +
              record.geoEnd.accuracy +
              ' metros' +
              '\n ' +
              'Latitud: ' +
              record.geoEnd.latitude +
              '\n ' +
              'Longitud: ' +
              record.geoEnd.longitude
            "
          ></i>
          <a
            [href]="utilsService.getGoogleMapUrl(record.geoEnd)"
            target="_blank"
            rel="noopener noreferrer"
            class="btn btn-primary btn-sm"
          >
            Ver <i class="bi bi-geo-alt-fill"></i>
          </a>
        </div> -->

        @if ( record?.incidentAdmin) {
        <div class="p-3 mb-3 bg-secondary-subtle rounded">
          <p class="mb-0">
            <strong>Incidencia Administrador: </strong>
            {{ record?.incidentAdmin }}
          </p>
        </div>

        }
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          #btnClose
        >
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
