/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.overlay {
  border-image-source: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 0%));
  border-image-slice: fill 1;

  // border-image-source: fill 1 linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 0%));
}
